:root {
    --grid-rows: 0;
    --grid-cols: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: red;
    font-family: 'Pangolin', cursive;
    color: yellow;
    border: 2px solid black;
}

.container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 24px);
}

.square {
    border: 2px solid black;
    height: 20px;
    width: 20px;
    background-color: white;
}